body {
  color: #b3b0d6;
  background: #29283b;
  display: grid;
  grid-template-rows: 100vh;
  place-items: center;
  overflow: hidden;
  margin: 0px;
}
div#terminal {
  height: 98vh;
  width: 98vw;
}
