body {
  color: #b3b0d6;
  background: #29283b;
  overflow: hidden;
}
#logs {
  font-size: small;
  line-height: 1.8;
  white-space: pre-wrap;
  word-break: break-all;
}
#terminal {
  height: 98vh;
}
#terminal div {
  height: 100%;
}
